{% extends 'padre.html' %}

{% block contenidoQueCambia %}
    
    <h1>Listado de Eventos</h1>

    <ul>
        <table class="table table-striped">        
            <thead>
                <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col">Lugar</th>
                  <th scope="col">Fecha</th>
                  <th scope="col">Horario</th>
                  {% if user.is_staff  %}
                    <th scope="col">Accion</th>
                  {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for evento in eventos %}
                    <tr>
                        <td><a href="{% url 'DetalleEventos' evento.id%}" class="text-decoration-none">{{evento.nombre}}</a></td>
                        <td>{{evento.lugar}}</td>
                        <td>{{evento.fecha|date:"d/m/Y"}}</td>
                        <td>{{evento.horario}}</td>
                        <td>
                            {% if user.is_staff  %}
                                <a href="{% url 'ActualizaEventos' evento.id %}" class="btn btn-primary">Editar</a>
                                <a href="{% url 'EliminaEventos' evento.id %}" class="btn btn-warning">Eliminar</a>
                            {% endif %}
                        </button></td>
                    </tr>
                    {% endfor %}
            </tbody>
        </table>

    </ul>
    {% if user.is_staff  %}
        <a href="{% url 'CreaEventos' %}" class="btn btn-success">Alta Evento</a>
    {% endif %}
{% endblock contenidoQueCambia %}
