{% extends 'padre.html' %}

{% block contenidoQueCambia %}
    
    <div class="text-center">
    
        <form action="{% url 'BuscarLector' %}" method="get">
            <p>Nombre/Apellido: <input type="text" name="lector">   <button type="submit" class="btn btn-info">Buscar</button></p>
        </form>
    </div>
    
    <h1>Lista de Lectores</h1>

    <ul>
        <table class="table table-striped">        
            <thead>
                <tr>
                  <th scope="col">Apellido, Nombre</th>
                  <th scope="col">Email</th>
                  <th scope="col">Telefono</th>
                  <th scope="col">Accion</th>
                </tr>
            </thead>
            <tbody>
                {% for lector in lectores %}
                    <tr>
                        <td><a href="{% url 'DetalleLectores' lector.id %}">{{lector}}</a></td>
                        <td>{{lector.email}}</td>
                        <td>{{lector.telefono}}</td>
                        <td>
                            <a href="{% url 'ActualizaLectores' lector.id %}" class="btn btn-primary">Editar</a>
                            <a href="{% url 'EliminaLectores' lector.id %}" class="btn btn-warning">Eliminar</a>
                        </button></td>
                    </tr>
                    {% endfor %}
            </tbody>
        </table>

    </ul>
    <a href="{% url 'CreaLectores' %}" class="btn btn-success">Alta Lector</a>

{% endblock contenidoQueCambia %}
