{% extends 'padre.html' %}

{% block contenidoQueCambia %}
    
    {% if libro.imagen %} 
    <img src="{{libro.imagen.url}}"
        class="card-img-top"  height="40px"  alt='portada'  >
    {% endif %}
    <h3>{{libro.nombre}}</h3>
    <h5>Autor/a: {{libro.autor}}</h5>
    <p>Reseña: {{libro.resena}}</p>
    <h5>Valor: {{libro.precio}}</h5>
    
    <h6>Pertenece a: {{libro.lector}}</h6>

    <a href="{% url 'ComentarioLibros' libro.id %}" class="btn btn-primary">Reservar</a>

    <a href="{% url 'ComentarioLibros' libro.id %}" class="btn btn-secondary">Agregar comentario</a>


{% endblock contenidoQueCambia %}