{% extends 'padre.html' %}

{% block contenidoQueCambia %}
    
    <div class="text-center">
        <form action="{% url 'BuscarLibro' %}" method="get">
            <p>Titulo/Autor: <input type="text" name="titulo">   <button type="submit" class="btn btn-info">Buscar</button></p>
        </form>
    </div>

    <h1>Lista de Libros</h1>

    <ul>
           
        <table class="table table-striped">        
            <thead>
                <tr>
                  <th scope="col">Titulo</th>
                  <th scope="col">Autor</th>
                  <th scope="col">Disponible</th>
                  <th scope="col">Accion</th>
                </tr>
            </thead>
            <tbody>
                {% for libro in libros %}
                    <tr>
                        <td> <a href="{% url 'DetalleLibros' libro.id %}" >{{libro.nombre}}</a> </td>
                        <td>{{libro.autor}}</td>
                        <td>{{libro.disponible}}</td>
                        <td>
                            <a href="{% url 'ActualizaLibros' libro.id %}" class="btn btn-primary">Editar</a>
                            <a href="{% url 'EliminaLibros' libro.id %}" class="btn btn-warning">Eliminar</a>
                        </button></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>        
     
    </ul>

    {% if user.is_authenticated %}
        <a href="{% url 'CreaLibros' %}" class="btn btn-success">Crear Libro</a>
    {% endif %}

{% endblock contenidoQueCambia %}
