{% extends 'padre.html' %}

{% block contenidoQueCambia %}

    <form action="{% url 'BuscarLector' %}" method="get">

        <p>Nombre/Apellido: <input type="text" name="lector">   <button type="submit" class="btn btn-info">Buscar</button></p>
    </form>

    <h1>Lista de Lectores</h1>

    <ul>
        <table class="table table-striped">        
            <thead>
                <tr>
                  <th scope="col">Nombre - Apellido</th>
                  <th scope="col">Email</th>
                  <th scope="col">Telefono</th>
                  <th scope="col">Accion</th>
                </tr>
            </thead>
            <tbody>
                {% for lector in lista_lectores %}
                    <tr>
                        <td>{{lector.nombre}} {{lector.apellido}}</a> </td>
                        <td>{{lector.email}}</td>
                        <td>{{lector.telefono}}</td>
                        <td>
                            <a href="{% url 'ActualizaLibros' libro.id %}" class="btn btn-primary">Editar</a>
                            <a href="{% url 'EliminaLibros' libro.id %}" class="btn btn-warning">Eliminar</a>
                        </button></td>
                    </tr>
                    {% endfor %}
            </tbody>
        </table>

    </ul>

    <button><a href="{% url 'LectorFormulario' %}">Nuevo Lector</a></button>

{% endblock contenidoQueCambia %}
