<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container px-5">
        <a class="navbar-brand" href="{% url 'Inicio' %}">Inicio</a>
        <a class="navbar-brand" href="{% url 'ListaLibrosCards' 0 %}">Libros</a>
        <a class="navbar-brand" href="{% url 'ListaLectores' %}">Lectores</a>
        <a class="navbar-brand" href="{% url 'ListaEventos' %}">Eventos</a>
        <a class="navbar-brand" href="{% url 'ListaLibros' %}">Mis Libros</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}                
                    <p>Bienvenido {{user.username}}</p>
                    <a class="btn btn-primary" href="{% url 'Logout' %}">Logout</a>
                {% else %}
                    <a class="btn btn-primary" href="{% url 'Login' %}">Login</a>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>