 {% extends 'padre.html' %}

{% block contenidoQueCambia %}
    <h1>Resultado de búsqueda</h1>

    <ul>
        {%if libros %}
            {%for libro in libros %}
                <li>
                    <a href="{% url 'DetalleLibros' libro.id %}" class="text-decoration-none" >{{libro.nombre}} - {{libro.autor}} - {{libro.categoria}}</a>
                </li>
            {% endfor %}
        {% else %}
            <h5>{{mensaje}}</h5>
        {% endif %}
        
          
    </ul>

{% endblock contenidoQueCambia %}