{% extends 'padre.html' %}

{% block contenidoQueCambia %}
    <div class="container">
        <p><img src="/media/portadas/DQ.jpg" width="150px"></p>
        <h5>Soy Daniela Quaranta</h5>
        <br>
        <p>Hace 25 años que me dedico a programar aplicaciones de escritorio. Me gusta mucho trabajar en el area de sistemas.</p>
        <p>Disfruto de interactuar con los clientes y poder presentarles soluciones a lo que ellos van necesitando.</p>
        <br>
        <p>Biblioteca Circular es mi primer proyecto que desarrollé en la Web y espero que les pueda servir.</p>
        <br>
        <p>Si necesitan contactarme, aqui les dejo mi email <a href="mailto:danielaquaranta14@gmail.com">danielaquaranta14@gmail.com</a></p>
    </div>
{% endblock contenidoQueCambia %}